<div class="search__warranty">
    <img src="https://benza.vn/datafiles/33470/upload/images/image-20210803111000-2.png" alt="">
    <div class="search--type">
        <h2>Tra Cứu Thông Tin Bảo Hành</h2>
        <div class="list--search">
            <div class="item-search">
                <input type="radio" name="" id=""> 
                <p>Tra theo số điện thoại</p>
            </div>
            <div class="item-search">
                <input type="radio" name="" id=""> 
                <p>Tra theo mã IMEI</p>
            </div>
            <div class="item-search">
                <input type="radio" name="" id=""> 
                <p>Tra theo mã jobcard</p>
            </div>
        </div>
        <div class="container--search">
            <input class="search--phone" type="text">
            <button>
                Kiểm tra
            </button>
        </div>
    </div>
</div>