<div id = "footer">
    <div>
        <h4>Công ty Honda Việt Nam</h4>
        <p>Số GCNĐKDN: 2500150543</p>
        <p>Đăng ký lần đầu: Ngày 26/6/2008</p>
        <p>Đăng ký thay đổi lần thứ 13: Ngày 09/9/2022 </p>
        <p>Cơ quan cấp: Phòng Đăng ký kinh doanh – Sở Kế hoạch và Đầu tư Vĩnh Phúc</p>
        <p>Địa chỉ: Phường Phúc Thắng, Thành Phố Phúc Yên, Tỉnh Vĩnh Phúc, Việt Nam</p>
    </div>

    <div>
        <h4>Đường dây nóng</h4>
        <p>Hotline: 1800 8001 (Miễn phí cho tất cả thuê bao)</p>
        <p>Email: cr@honda.com.vn</p>
    </div>
</div>

