
    <div id='header'>
        <div class='header__logo'>
            <img
                src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Honda_Logo.svg/2552px-Honda_Logo.svg.png'
                alt='Logo Honda'
            />
        </div>

        <div class='header__search'>
            <input type='text' placeholder='Tìm kiếm sản phẩm' />
            <div class='logo_search'>
                <i class='fa-solid fa-magnifying-glass'></i>
            </div>
        </div>
        <div class='header__masthead'>
            <div>
                <i class='fa-solid fa-bell'></i>
            </div>
            <div class='avatar'>
                <img class="avatar-img" src='{{user.avatar}}' alt='avatars' />
                <div class="block-nav">
                    <div class="navBarAvatar">
                        <div class="thongtin">
                            <img src='{{user.avatar}}' alt='avatars' />
                            <h4>{{user.username}}</h4>
                        </div>
                        <div >
                            <a href="">viết blog</a>
                            <a href="">Cài đặt</a>
                            <a href="/auth/logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const avatar = $('.avatar')
        avatar.click(function(){
            $('.block-nav').toggle()
        })
    })
</script>