
    <div id='header'>
        <div class='header__logo'>
            <img
                src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Honda_Logo.svg/2552px-Honda_Logo.svg.png'
                alt='Logo Honda'
            />
        </div>
        <div class='header__search'>
            <input type='text' placeholder='Tìm kiếm sản phẩm' />
            <div class='logo_search'>
                <i class='fa-solid fa-magnifying-glass'></i>
            </div>
        </div>
        <div class='header__masthead'>
            <div>
                <i class='fa-solid fa-bell'></i>
            </div>
            <div class='avatar'>
                <img src='https://i.pinimg.com/236x/a0/95/ab/a095abeca82e0a5b04e4f121d166bafe.jpg' alt='avatars' />
            </div>
        </div>

    </div>
