<div id='nav'>
    <div class='menu'>
        <div>
            <a href='/'>
                <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='16'
                    height='16'
                    viewBox='0 0 16 16'
                    class='svgicon svgicon--supply-chain'
                ><path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm2-11.5c0 .307-.07.598-.193.858l1.788 2.683a2 2 0 1 1-1.45 2.709h-4.29a2 2 0 1 1-1.45-2.709l1.788-2.683A2 2 0 1 1 10 4.5zm-2 2c-.24 0-.471-.042-.685-.12L5.653 8.873c.08.117.148.244.202.377h4.29c.054-.133.122-.26.202-.377L8.685 6.38c-.214.077-.444.12-.685.12z'
                    ></path><path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm2-11.5c0 .307-.07.598-.193.858l1.788 2.683a2 2 0 1 1-1.45 2.709h-4.29a2 2 0 1 1-1.45-2.709l1.788-2.683A2 2 0 1 1 10 4.5zm-2 2c-.24 0-.471-.042-.685-.12L5.653 8.873c.08.117.148.244.202.377h4.29c.054-.133.122-.26.202-.377L8.685 6.38c-.214.077-.444.12-.685.12z'
                    ></path></svg>
                Các dòng sản phẩm
            </a>
        </div>
        <div>
            <a href=''>
                <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='16'
                    height='16'
                    viewBox='0 0 16 16'
                    class='svgicon svgicon--parts'
                ><g clip-path='url(#parts-a)'><path
                            d='M10.032 4.554l2.874-2.874A8 8 0 0 0 1.68 12.906l2.874-2.874a4 4 0 0 1 5.478-5.478z'
                        ></path><path
                            d='M8 16a8 8 0 0 0 6.568-12.568L10 8a2 2 0 1 0-2 2l-4.568 4.568A7.963 7.963 0 0 0 8 16z'
                        ></path></g><defs><clipPath id='parts-a'><path d='M0 0h16v16H0z'></path></clipPath></defs></svg>
                Các bộ phận
            </a>
        </div>

    </div>
    <div class='menu'>
        <div>
            <a href=''>
                <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='16'
                    height='16'
                    viewBox='0 0 16 16'
                    class='svgicon svgicon--assistant'
                ><path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-2.286 0c0 1.217-.38 2.345-1.028 3.271l-1.978-1.978C10.895 8.902 11 8.463 11 8c0-.463-.105-.902-.292-1.293l1.978-1.979A5.688 5.688 0 0 1 13.714 8zm-2.443-4.686A5.688 5.688 0 0 0 8 2.286c-1.217 0-2.345.38-3.272 1.028l1.979 1.978C7.098 5.105 7.537 5 8 5c.463 0 .902.105 1.293.292l1.979-1.978zm-1.978 7.394l1.979 1.978A5.688 5.688 0 0 1 8 13.714a5.688 5.688 0 0 1-3.272-1.028l1.979-1.978c.391.187.83.292 1.293.292.463 0 .902-.105 1.293-.292zm-4-1.415A2.988 2.988 0 0 1 5 8c0-.463.105-.902.292-1.293L3.314 4.728A5.688 5.688 0 0 0 2.286 8c0 1.217.38 2.345 1.028 3.271l1.978-1.978zM9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z'
                    ></path></svg>
                Trợ giúp và hỗ trợ
            </a>
        </div>

        <div>
            <a href=''>
                <i class='fa-solid fa-gear'></i>
                Cài đặt
            </a>

        </div>

    </div>
</div>