{{!-- 
    <div class="nav__overlay"></div>
    <nav class="nav__mobile">
        <div class="nav__mobile-close">
            <i class="fa-solid fa-circle-xmark"></i>
        </div>
        <ul class="nav__mobile-list">
            <li><a href="" class = "nav__mobile-link"></a></li>
            <li><a href="" class = "nav__mobile-link"></a></li>
            <li><a href="" class = "nav__mobile-link"></a></li>
            <li><a href="" class = "nav__mobile-link"></a></li>
        </ul>
    </nav>

<script>
    const navOerlay = document.querySelector('.nav__overlay')
    const navMobile = document.querySelector('.nav__mobile')

    const btnClose = document.querySelector('.nav__mobile-close')
    const thanh3gach = document.querySelector('.fa-bars-3')

    console.log(thanh3gach)
</script> --}}