@use '_variable';
#header {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff; }
  #header .header__search {
    display: flex;
    align-items: center; }
    #header .header__search input {
      height: 38px;
      padding: 0 100px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px; }
    #header .header__search .logo_search {
      background-color: #d3d3d3;
      padding: 2px 20px;
      font-size: 20px;
      border: 2px solid #333;
      border-left: none;
      border-radius: 0 20px 20px 0;
      cursor: pointer; }
  #header .header__masthead {
    display: flex;
    align-items: center; }
    #header .header__masthead img {
      margin-left: 50px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer; }
    #header .header__masthead i {
      font-size: 20px;
      cursor: pointer; }
  #header img {
    height: 50px;
    width: auto;
    vertical-align: middle; }
  #header .avatar {
    position: relative; }
    #header .avatar .block-nav {
      position: absolute;
      right: 0px;
      top: 70px;
      width: 200px;
      height: 230px;
      background-color: #f3f3f3;
      border-radius: 10px;
      box-shadow: 2px 2px 5px 5px #888888;
      display: none; }
  #header .navBarAvatar {
    width: 150px;
    margin-left: 20px; }
    #header .navBarAvatar .thongtin {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #333;
      display: flex; }
      #header .navBarAvatar .thongtin img {
        margin-left: 0px; }
      #header .navBarAvatar .thongtin h4 {
        margin-left: 20px; }
    #header .navBarAvatar a {
      width: 200;
      text-decoration: none;
      color: #333;
      display: block;
      padding: 10px 10px; }
