<div class="chartBuys">
    <div>Tổng quan</div>
    <div class="info-different">
        <div class="info-different-left">
            <div class="block-item">
                <div><i class="fa-solid fa-truck-fast"></i></div>
                <div>
                    <p>1</p>
                    <p>Đơn hàng</p>
                </div>
            </div>
            <div class="block-item">
                <div><i class="fa-solid fa-cart-shopping"></i></div>
                <div>
                    <p>630.000</p>
                    <p>Doanh thu</p>
                </div>
            </div>
            <div class="block-item">
                <div><i class="fa-solid fa-share"></i></div>
                <div>
                    <p>0</p>
                    <p>Huỷ/Trả bỏ</p>
                </div>
            </div>
            <div class="block-item">
                <div><i class="fa-solid fa-share-from-square"></i></div>
                <div>
                    <p>0</p>
                    <p>Gía trị trả lại</p>
                </div>
            </div>
        </div>

        <div class="info-different-right">
            <div class="block-item">
                <div><i class="fa-solid fa-money-check-dollar"></i></div>
                <div>
                    <p>630.00</p>
                    <p>Tiền mặt</p>
                </div>
            </div>
            <div class="block-item">
                <div><i class="fa-brands fa-cc-visa"></i></div>
                <div>
                    <p>0</p>
                    <p>Tài khoản khác</p>
                </div>
            </div>
            <div class="block-item">
                <div><i class="fa-solid fa-money-bill"></i></div>
                <div>
                    <p>0</p>
                    <p>Ghi nợ</p>
                </div>
            </div>
            <div class="block-item">
                <div><i class="fa-solid fa-calendar-day"></i></div>
                <div>
                    <p>0/30</p>
                    <p>Bản sử dụng</p>
                </div>
            </div>
        </div>
    </div>

    <div class="chart-col">
        <div>
            <p>Lượng sản phẩm bán được trong năm 2022</p>
            <select name="" id="" class="selectMonthOrCharter">
                <option value="1">Theo tháng</option>
                <option value="2">Theo quý</option>
            </select>
        </div>
        <div class="chart">
            <ul class="numbers">
                <li><span>150</span></li>
                <li><span>100</span></li>
                <li><span>50</span></li>
                <li><span>0</span></li>
            </ul>
            <ul class="bars">
                {{#each SlspOfMonth}}
                    <li>
                    <div class="bar" data-percentage="{{this.SL}}"></div>
                    <span>Tháng {{sum @index 1}}</span>
                    </li>
                {{/each}}
            </ul>
            <canvas id="myChart" style="width: 80%; max-width: 1000px; margin-left: 50px; display: none;"></canvas>
        </div>
    </div>
</div>
<script src="../../js/agent/tkmua.js"></script>
