<div class="ds--product-warranty">
    <p>Danh sách các sản phẩm đang sửa chữa tại trung tâm: </p>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Mã SP</th>
                    <th>Mã Phiếu BH</th>
                    <th>ĐL gửi BH</th>
                    <th>Hỏng do</th>
                    <th>Đã hoàn thành</th>
                    <th>Không thể sửa</th>
                </tr>
            </thead>
            <tbody>
                {{#each sendAll}}
                <tr>
                    <td class="productID">{{this.productID}}</td>
                    <td class="idSW">{{this.id}}</td>
                    <td>{{this.nameAgent}}</td>
                    <td>{{this.description}}</td>
                    <td><button class="btn--finish">Sửa xong</button></td>
                    <td><button class="btn--err">Lỗi</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="../../js/warrantyCenter/DSProductWaranty.js"></script>
