<div class="tkbh">

    <div><h2>Trang thống kê sản phẩm bảo hành</h2></div>
    <div class="tkbh-img">
        <img src="../../../public/images/imgTK/bh1.jpg" alt="" class="img-1">
        <img src="../../../public/images/imgTK/bh2.jpg" alt="" class="img-2">
        <img src="../../../public/images/imgTK/bh3.jpg" alt="" class="img-3">
        <img src="../../../public/images/imgTK/tk1.jpg" alt="" class="img-4">
    </div>


    <h2>Thống kê số lượng sản phẩm đã bảo hành trong năm 2022</h2>
    
    <canvas id="myChartTKBH" style="width: 60%; max-width: 1000px; margin-left: 50px; margin-top: 20px;"></canvas>
</div>


<script>
document.addEventListener('DOMContentLoaded', function(){
    var xValues = ['Tháng 1','Tháng 2','Tháng 3','Tháng 4','Tháng 5','Tháng 6','Tháng 7','Tháng 8','Tháng 9','Tháng 10', 'Tháng 11','Tháng 12'];

    new Chart("myChartTKBH", {
    type: "line",
    data: {
        labels: xValues,
        datasets: [{ 
        data: [40,50,60,60,53,55,50,40,45,66,30, 40],
        borderColor: "blue",
        backgroundColor: "rgba(0,0,255,1.0)",
        fill: false,
        
        }, { 
        data: [5,10,15,5,7,12,5,7,8,10,7,8],
        borderColor: "red",
        backgroundColor: "rgba(0,0,255,1.0)",
        fill: false,
       
        }]
    },
    options: {
        legend: {display: false,
        }
    }
    });
    })
</script>
