<div class="tkbh">

    <div><h2>Trang thống kê sản phẩm bảo hành</h2></div>
    <div class="tkbh-img">
        <img src="../../../public/images/imgTK/bh1.jpg" alt="" class="img-1">
        <img src="../../../public/images/imgTK/bh2.jpg" alt="" class="img-2">
        <img src="../../../public/images/imgTK/bh3.jpg" alt="" class="img-3">
        <img src="../../../public/images/imgTK/tk1.jpg" alt="" class="img-4">
    </div>


    <h2>Thống kê số lượng sản phẩm đã bảo hành trong năm 2022</h2>
    
    <canvas id="myChartTKBH" style="width: 60%; max-width: 1000px; margin-left: 50px; margin-top: 20px;"></canvas>
</div>

<script src="../../js/warrantyCenter/tkbh.js"></script>
