<div class="tksx">

    <div><h2>Trang thống kê Xuất xưởng</h2></div>
    <div class="tksx-img">
        <img src="../../../public/images/imgTK/tk1.jpg" alt="" class="img-1">
        <img src="../../../public/images/imgTK/tk2.jpg" alt="" class="img-2">
        <img src="../../../public/images/imgTK/tk3.jpg" alt="" class="img-3">
        <img src="../../../public/images/imgTK/tk4.png" alt="" class="img-4">
    </div>


    <h2>Thống kê số lượng sản xuất theo tháng hoặc quý năm 2022</h2>
    <div class="selectStyleTK">
        <p>Lựa chọn: </p>
        <select name="" id="" class="select-TQ">
            <option value="">--Theo--</option>
            <option value="1">--Tháng--</option>
            <option value="2">--Quý--</option>
        </select>
    </div>
    <div class="select-Time"></div>

    <div class="tableTKSX"></div>
</div>

<script src="../../js/cssx/tksx.js"></script>
