.detail_productLine {
    flex: 1;
    margin-top: 50px;
    
    .detail_productLine--introduce{
        .product--description{
            display: flex;
            p {
                margin: {
                    top: 20px;
                    right: 50px;
                };
                text-align:justify;
            }

        }
    .product--price-bh{
        width: 500px;
        background-color: #f3f3f3;
        h2{
            display: inline-block;
            margin-left: 20px;
            color: red;
        }
        div, p{
            margin-left: 20px;
            padding: 10px 0;
        }
    }
        
    }
}