.detail_productLine {
    flex: 1;
    margin-top: 50px;
    .detail_productLine--introduce{
        .product--description{
            display: flex;
            img{width: 500px;
            height: 400px;}
            p {
                margin: {
                    top: 20px;
                    right: 50px;
                };
                text-align:justify;
            }

        }
    .product--price-bh{
        width: 500px;
        background-color: #f3f3f3;
        margin-left: 50px;
        h2{
            display: inline-block;
            margin-left: 20px;
            color: red;
        }
        div, p{
            margin-left: 20px;
            padding: 10px 0;
        }
    }
    }

    .product__parameter{
        width: 80%;
        margin-top: 50px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        > p{
            font-size: 24px;
            font-weight: 700;
        }

        .product__parameter--list{
            background-color: rgba($color: #000000, $alpha: 0.1);
            margin-top:20px;
            border-top: 2px solid red;
            padding: {
                bottom: 20px;
                right: 20px;
            }

            > div {
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                > div:nth-child(even) {
                    background-color:#fff;
                }
            }
        
            .product__parameter--item {
                display: flex;
                div:nth-child(1) {
                    width: 500px;
                    padding: 30px 0;
                }
                div:nth-child(2) {
                    width: 500px;
                    padding: 30px 0;
                }


            }
        }
    }
    
}

@media only screen and (max-width: 1023px) {
    .detail_productLine {
        max-width: 1023px;
        width: 100%;
        .product--description{
            >div{
                display: none;
            }
            
        }
        .product--price-bh{
            margin-left: 100px;
        }
        
    }

}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .detail_productLine{
    .product--description{
        img{
            margin-left: 100px;
        }
        .product__parameter{
            width: 90%;
        }
    }
   }

}

@media only screen and (max-width: 739px) {
    .detail_productLine{
        .product--description{
            img{
                margin-left: 20px;
            }
        }
        .product__parameter{
            width: 80%;
        }
       }
}