.ds--product-warranty{
    flex: 1;
    width: 100%;
    margin: {
        left: 50px;
        top: 50px;
    };
    p{
        margin-bottom: 20px;
        color: red;
        font-size: 20px;
        font-weight: 700;
    }
    div {
        margin-top: 50px;
        width: 100%;
        table {
            border-collapse: collapse;
            width: 95%;
            text-align: center;
        }
        tr > th{
            background-color: rgba(92, 208, 240, 0.5);
            padding: 10px 0;
        }
        tr > td {
            padding: 10px 0;
        }
        
        tr:nth-child(even) {
            background-color: rgba(206, 197, 186, 0.7);
        }

        tr{
            td:first-child, th:first-child{
                width: 10%;
            }
        }

        tr {
            th:nth-child(2),
            td:nth-child(2)
            {
                width: 10%;
            }
        }

        
        tr {
            th:nth-child(5), th:nth-child(6),
            td:nth-child(5), td:nth-child(6)
            {
                width: 10%;
            }
        }

        tr {
            th:nth-child(3), th:nth-child(4),
            td:nth-child(3), td:nth-child(4)
            {
                width: calc(60%/2);
            }
        }
    }

    tr{
        .btn--finish{
            padding: 5px 0;
            background-color: blue;
            color: #fff;
            cursor: pointer;
        }

        .btn--err{
            padding: 5px 10px;
            background-color: red;
            color: #fff;
            cursor: pointer;

        }

    }
    tr td a{
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        color: black;
        border: 1px solid #333;
        font-weight: 500;
        margin-left: 10px;
        padding: 4px;
        background-color: rgb(12, 246, 168);
        cursor: pointer;
    }
}