#footer {
    display: flex;
    background-color: #e5d5d5;
    // justify-content: space-around;
    padding: 50px 0;
    div:first-child {
        margin-left: 250px;
        p{
            font-size: 12px;
            opacity: 0.9;
            line-height: 1.5;
            padding-top: 10px;
        }
    }
    div:last-child {
        margin-left: 100px;
        p {
            padding-top: 10px;
            font-weight:500;
        }
    }
}

//chung
@media only screen and (max-width: 1023px) {
    
}

//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {

    #footer{
        margin-left: -150px;
    }
}


//mobile
@media only screen and (max-width: 739px) {
    #footer{
        flex-direction: column;
        div:first-child{
            margin-left: 0px;
            text-align: center;
        }
        div:last-child{
            margin-top: 50px;
            margin-left: 0px;
            text-align: center;
        }
    }
}

