@use '_variable';

#header {

    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;

    .header__search {
        display: flex;
        align-items: center;
        input {
            height: 38px;
            padding: 0 100px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        .logo_search {
            background-color: #d3d3d3;
            padding: 2px 20px;
            font-size: 20px;
            border: 2px solid #333;
            border-left: none;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
        }
    }
    .header__masthead {
        display: flex;
        align-items: center;
        img {
            margin-left: 50px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            cursor: pointer;
        }
        i {
            font-size: 20px;
            cursor: pointer;
        }
    }
    img {
        height: 50px;
        width: auto;
        vertical-align: middle;
    }
}
