@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.register{
    flex: 1;
    margin-left: 50px;
    h1, label{
        color: DodgerBlue;
      }
        input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        width:100%;
        resize: vertical;
        padding:15px;
        border-radius:15px;
        border:0;
        box-shadow:4px 4px 10px rgba(0,0,0,0.2);
      }
      input[type=text]:focus, input[type=password]:focus, select:focus {
         outline: none;
       }
      hr {
         border: 1px solid #f1f1f1;
         margin-bottom: 25px;
       }
      button {
         background-color: #4CAF50;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
         cursor: pointer;
         width: 100%;
         opacity: 0.9;
       }
      button:hover {
         opacity:1;
       }
      .cancelbtn {
         padding: 14px 20px;
         background-color: #f44336;
       }
      .signupbtn {
         float: left;
         width: 100%;
         border-radius:15px;
         border:0;
         box-shadow:4px 4px 10px rgba(0,0,0,0.2);
       }
      .container-register {
         padding: 16px;
       }
      .clearfix::after {
         content: "";
         clear: both;
         display: table;
       }
       .select-role{
           padding: 5px;
           margin: {
               left: 10px;
               bottom: 10px;
               
           }
           box-shadow:4px 4px 10px rgba(0,0,0,0.2);
       }
}