.tksx{

    flex: 1;
    margin-left: 50px;

    margin-left: 100px;

    > div:first-child{
        background-color: rgba($color: #000000, $alpha: 0.1);
        padding: 5px 0;
        h2{
            margin-left: 20px;
        }
    }

    .tksx-img{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px ;
        img{
            width: 24%;
            height: 170px;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            box-shadow: 0 0 10px 0 #555;
        }
    }


    >h2{
        color: red;
        text-align: center;
        margin-top: 20px;

    }
    .selectStyleTK{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        p{
            font-weight: 600;
            margin-right: 20px;
        }
        select{
            width: 200px;
            padding: 3px;
            text-align: center;
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }

    .select-Time, .selectMonth, .selectQuarter{
        margin-top: 10px;
        text-align: center;
        .selectMonth, .selectQuarter{
            width: 200px;
            padding: 3px;
            background-color: rgba($color: #000000, $alpha: 0.1);
            margin-left: 100px;
        }
    }

    table {
        border-collapse: collapse;
        width: 90%;
        margin-top: 30px;

        tr{
            th:first-child,
            td:first-child
            {
                width: 5%;
            }
        }
    }
    tr{
        border: 1px solid rgb(214, 210, 210) ;
    }

    
    thead {
        tr {
            background-color: rgb(89, 184, 244); 
        }
    }
    tbody{
        td{
            text-align: center;
            font-size: 16px;
            font-weight: 500px;
        }
    }
}