<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    
    <link rel="stylesheet" href="/public/css/gird.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/navigation.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/css/detailProductLine.css">
    <link rel="stylesheet" href="/public/css/parts.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/navMb.css">
    <link rel="stylesheet" href="/public/css/warehouse.css">
    <link rel="stylesheet" href="/public/css/detailWarehouse.css">
    <link rel="stylesheet" href="/public/css/nhapkho.css">
    <link rel="stylesheet" href="/public/css/xuatkho.css">
<body>
    <div class="ctapp">
        
    {{#if (show isShow)}}
    {{> header}}
    {{/if}}
    <div class="container">
    {{#if (show isShow)}}
    {{> navigartion }}
    {{/if}}
    {{{body}}}
    </div>

    {{#if (show isShow)}}
    {{> footer}}
    {{/if}}

  
    </div>

    <script src="https://kit.fontawesome.com/9191d6b787.js" crossorigin="anonymous"></script>
    
</body>
</html>