<div class="nhapkho">
   <div class="nhapkho__content">
        <div class="nhapkho__title">
            <i class="fa-solid fa-circle-info"></i>
            <p>Điền thông tin trước khi cho sản phẩm vào kho</p>
        </div>
        <form action="">
            <div>
                <p>Chọn sản phẩm:</p>
                <select name="" id="">
                    <option value=""></option>
                </select>
            </div>

            <div>
                <p>Số lượng</p>
                <input type="text" placeholder="" name="">
            </div>

            <div>
                <p>Chọn kho của bạn</p>
                <select name="" id="">
                    <option value=""></option>
                </select>
            </div>

            <div>
                <p>Ghi chú:</p>
                <textarea name="" id="" cols="30" rows="3"></textarea>
            </div>
            <button type="submit">Cho vào kho</button>
    </form>
   </div>
</div>